@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Rambla:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Rambla', sans-serif;
font-family: 'Baloo Da 2', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Kalam', cursive;

*/
header {
  height:100px !important;
  background-color:#fff;
  border-bottom: 2px black solid;
  margin:auto;
  display:block;
  width:100%;
  margin-top:0px;
}
header h1 {
  font-family: 'Varela Round', sans-serif;
  font-size:40px;
  font-weight:300;
  margin-left:200px;
  width:200px;
  margin-right:0px;
  display:inline-block;
  margin-top:26px;
}
nav {
  z-index:1;
  float:right;
}
header ul {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  font-size:15px;
  float:right;
  margin-right:200px;
  margin-top:40px;
}
#navigation {
  display:inline-block;
}
header li {
  display:inline;
  padding:10px;
}
header a {
  text-decoration: none;
  color: black;
}
header a:hover {
  color: #0fb8b8;
}

.submenu {
  margin-top:10px;
  margin-left:20px;
  position:absolute;
  background-color:white;
  padding-left:none !important;
  width:100px;
  padding-right:40px;
  border: 2px black solid;
  border-radius:5px 5px;
  box-shadow:2px 2px 2px;
  display:none;
}
.submenu li {
  text-align:center;
  display:list-item;
  list-style:none;
  padding:10px;
}
.submenu li:hover {
  color:#0fb8b8;
}
.active {
  display:block;
}
body {
  margin:auto;
}
#welcome {
  width:100%;
  height:500px !important;
  background-image: linear-gradient(60deg, #3d3393 0%, #2b76b9 37%, #2cacd1 65%, #35eb93 100%);
  border-bottom: 2px solid black;
}
#welcome h2 {
  font-family: 'Kalam', cursive;
  font-size: 100px;
  text-align:center !important;
  margin:0px;
  color:black;
/*  margin-left:338.345px; */
  padding-top:188.5px;
/*  position:absolute;
  z-index:3; */
}
/*#welcome img {
  position:absolute;
  height:500px;
  z-index:2;
  margin-left:400px;
}*/
#grid {
  margin:100px;
  display:inline-block;
  margin-bottom:0px;
}
#grid h3 {
  font-family: 'Baloo Da 2', cursive;
  font-size:60px;
  margin:auto;
  text-align:center;
  border-bottom:2px solid black;
}
#about {
  width:49%;
  float:left;
}
#about h3 {
  width:400px;
}
#grid p {
  font-size:20px;
  width:80%;
  margin-left:10%;
  text-align:center;
}
#channel {
  width:49%;
  float:right;
}
#channel h3 {
  width:400px;
}
#channel p{
  text-align:center;
  padding-bottom:20px;
}
#channel iframe {
  border-radius:15px;
  border:5px solid black;
}
#contact {
  width:49%;
  float:left;
  margin-top:40px;
  margin-bottom:115px;
}
#contact h3 {
  width:400px;
}
#videos {
  margin:100px;
  margin-top:0px;
}
#videos h3 {
  width:800px !important;
  font-family: 'Baloo Da 2', cursive;
  font-size:60px;
  margin:auto;
  text-align:center;
  border-bottom:2px solid black;
}
#vid1 {
  float:left;
  margin:20px;
  border-radius: 40px;
  margin-left:60px;
  border:5px solid black;
}
#vid2 {
  float:right;
  margin:20px;
  border-radius: 40px;
  display:block;
  margin-right:60px;
  border:5px solid black;
}
